*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    /*to set border area inside the given width and hight of the content */
     
}
body{
    display: flex;
    flex-flow: column nowrap;
    background-color: #b5b9be;
}
.navbar{
    display: flex;
    flex-flow: row nowrap;
    height: 60px;
    background-color: #0f1111;
    color: white;
    padding: 2px;
    justify-content: space-evenly;

}

.nav-logo{
    height: 50px;
    width: 113px;
    margin: 5px;
    padding: 1px 4px 0 6px;
}
.logo{
    height: 50px;
    width: 113px;
    background-image: url("/images/amazon_logo.png");
    background-size: cover;
    
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1px solid white;
    border-radius: 2px;
}
.nav-address{
    height: 55px;
    width: fit-content;
    display: flex;
   
    
}
.loc-icon{
    background-position: -71px -378px;
    width: 15px;
    
    margin-top: 8px;
    display: flex;
    position: static;
    float: none;
    align-items: center;
}
.loc-data{
    margin: 0p 3px 0 3px;
    display: flex;
    position: static;
    flex-flow: column nowrap;
    
    justify-content: center;
}
.location{
    color: #ccc;
    margin-top: 0;
    padding-right: 0;font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}

.nav-search{
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
}



.nav-searchbar{
    height: 40px;
    width: 620px;
    display: flex;
    flex-flow: row nowrap;
    background-color: aqua;
    border-radius: 3px;
}
.search-input{
    width: 590px;
    font-size: 1rem;
    color: rgb(103, 101, 101);
}

.search-select{
    height: 40px;
    width: 52px;
    border-style: none;
    border: none;
    border-top-right-radius: 0;
 }   


.nav-button{
    width: 45px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    background-color: #febd69;
    border: none;
}
.nav-small-font{
    font-size: 12px;
    line-height: 14px;
    height: 14px;
    font-weight: 400;
}

.nav-big-font{
    font-size: 14px;
    line-height: 15px;
    font-weight: 700;
}
.account-list{
    border-style: none;
    background-color: transparent;
    background-image: none;
    border: none;
    color: #ccc;
    height: 30px;
    
}
.nav-signin{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.nav-order{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
}
.nav-cart{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
.cart{
    padding-top: 20px;
}
.panel{
    height: 39px;
    padding-left: 11px;
    display: flex;
    background-color: #232f3e;
    color: white;
}
.panel-left{
    width: 58px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
.panel-all{
    margin-left: 4px;
}
.panel-right{
    display: flex;
    flex-flow: row nowrap;

}
.panel-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
    padding-left: 5px;
}
.hero-section{
    height: 600px;
    background-image: url(/images/hero_image.jpg);
    background-size: cover;
    
}
.content{
    top: 110px;
    position: absolute; 
    display: flex;
    flex-flow: column nowrap;
    width: 100%;

    
}
.hero-msg{
    background-color: rgb(255, 255, 255);
    margin: 20px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}
.ads{
    height: 230px;
}
.hero-msg a {
    text-decoration: none;
    color: #128867;
}
.shop-section{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.box{
    background-color: white;
    display: flex;
    flex-flow: column nowrap;
    padding: 10px;
    
}
.box img{
    margin: 10px;
    height: 304px;
    width: 265px; 
}


.foot-panel1{
    background-color: #37475A;
    height: 50px ;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   
}
.foot-panel2{
    background-color: #232f3e;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}
.foot-box{
    padding: 10px;
    display: flex;
    flex-flow: column nowrap;
}
.foot-box a {
    color: #b8b4b4;
    text-decoration: none;
    font-size: 0.8rem;
    margin-top: 5px;
}